.vscode
builds
etc
node_modules
schema
src
.gitignore
.npmignore
BUILDING.md
postcss.config.js
TESTING.md
vue.config.js
install
install-ffmpeg
docker
Dockerfile
.dockerignore
default-docker.json
bin/hoobs-docker
bin/hoobs-build
notes
cache
