.rocket-dark {
    --primary: #262626;
    --primary-dark: #000;
    --background: #262626;
    --background-light: #262626;
    --background-dark: #262626;
    --background-dark-text: #999;
    --background-dark-border: #000;
    --background-dark-text-dark: #fff;
    --background-accent: #444;
    --background-highlight: #444;
    --nav-background: #262626;
    --nav-lignt: #585857;
    --warning: #e30505;
    --button: #141414;
    --button-text: #fff;
    --button-primary: #e75e0f;
    --button-primary-text: #fff;
    --input-background: #444;
    --input-text: #fff;
    --input-json-text: #e75e0f;
    --input-json-number: #feb400;
    --text: #999;
    --text-light: #999;
    --text-dark: #fff;
    --text-dim: #999;
    --text-highlight: #e75a0e;
    --title-text: #e75e0f;
    --title-text-dim: #5f2402;
    --error-text: #e30505;
    --primary-text: #e75e0f;
    --link-text: #e75e0f;
    --warning-text: #fff;
    --nav-text: #bababa;
    --nav-text-light: #fff;
    --log-text: #d1d1d1;
    --border: #141414;
    --border-dark: #000;
    --logo-color: #e75e0f;
    --modal: #262626b8;
    --elevation-small: 0 1px 1px 0 rgba(0, 0, 0, 0.24),
                       0 2px 1px -1px rgba(0, 0, 0, 0.22),
                       0 1px 3px 1px rgba(0, 0, 0, 0.3);
    --elevation-large: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
                       0 4px 5px 0 rgba(0, 0, 0, 0.14),
                       0 1px 10px 0 rgba(0, 0, 0, 0.12);
    --snapshot: url("./snapshot.jpg");
}
