.hoobs-dark {
    --primary: #474746;
    --primary-dark: #3f3f3f;
    --background: #474746;
    --background-dark: #474746;
    --background-accent: #575757;
    --background-highlight: #575757;
    --nav-background: #474746;
    --nav-lignt: #585857;
    --warning: #e30505;
    --button: #3d3d3d;
    --button-text: #fff;
    --button-primary: #feb400;
    --button-primary-text: #fff;
    --input-background: #575757;
    --input-text: #fff;
    --input-json-text: #feb400;
    --input-json-number: #ccc;
    --pin-color: #feb400;
    --text: #999;
    --text-light: #999;
    --text-dark: #fff;
    --text-dim: #999;
    --text-highlight: #e75a0e;
    --title-text: #feb400;
    --title-text-dim: #856a3b;
    --error-text: #a11;
    --primary-text: #feb400;
    --link-text: #feb400;
    --warning-text: #fff;
    --nav-text: #bababa;
    --nav-text-light: #fff;
    --log-text: #d1d1d1;
    --border: #3d3d3d;
    --border-dark: #303030;
    --logo-color: #feb400;
    --snapshot: url("./snapshot.jpg");
}
